<!-- Modal Code -->
<ng-container *ngIf="data$">
    <div class="modal-bg" [attr.id]="modalId" [ngClass]="{'show': data$.show}">
        <div class="modal-content" id="modal-content" [ngClass]="{'slide-down': data$.show && !closing, 'slide-up': closing}">
            <div class="modal-header">
                <p class="header-text">{{ data$.header }}</p>
                <span class="close-icon" (click)="close()">&times;</span>
            </div>
            <div class="main">
                {{ data$.body }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary modal-btn" (click)="close()">Ok</button>
            </div>
        </div>
    </div>
</ng-container>